<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>headline</title>
	<link rel="stylesheet" href="style.css" >
</head>
<body>
	<section>
	<h1>News Headlines</h1>
	<h2><a href="/scrape">Click Here to Get <%= siteName %></a></h2>
	<p class="sub"><%= lastupdateon %></p>
	
	<hr />
	<p class="sub">source: www.bloombeg.com </p>
	</section>
</body>
</html>