<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>headline</title>
	<link rel="stylesheet" href = "style.css" >
</head>
<body>
	<section>
	<h1>News Headlines</h1>
	<h2><a href="/scrape"><%= siteName %></a></h2>
	<p class="sub"><%= lastupdate %></p>

		<% for (var i=0; i < nameArr.length; i++) { %>
			<p><a href=<%= urlArr[i] %> target="_new"><%= nameArr[i] %></a></p>
		<% } %>
	
	<hr />
	<p class="sub">Source: www.bloomberg.com </p>
	</section>


</body>
</html>